# https://yunohost.org/en/packaging_manifest
packaging_format = 2

id = "umap"
name = "uMap"
description.en = "Vreate maps with OpenStreetMap layers in a minute and embed them in your site"
description.fr = "Créer des cartes personnalisées sur des fonds OpenStreetMap en un instant et les afficher dans votre site"

version = "3.4.2~ynh0"

maintainers = ["Yohan Boniface", "David Larlet"]


[upstream]
license = "AGPL-3.0-only"
website = "https://umap-project.org"
admindoc = "https://docs.umap-project.org/en/stable/install/"
userdoc = "https://discover.umap-project.org/"
code = "https://github.com/umap-project/umap"


[integration]
yunohost = ">=12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "500M"
ram.build = "500M"
ram.runtime = "1G"

[install]
    [install.domain]
    type = "domain"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"
    
    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.realtime_enabled]
    ask.en = "Enable realtime collaboration?"
    type = "boolean"
    default = true

    [install.umap_allow_anonymous]
    ask.en = "Allow non logged in users to create maps?"
    type = "boolean"
    default = false

    [install.umap_allow_edit_profile]
    ask.en = "Allow to edit profile?"
    type = "boolean"
    default = true

    [install.enable_account_login]
    ask.en = "Enable account login?"
    type = "boolean"
    default = false

    [install.site_name]
    ask.en = "What's your instance name?"
    type = "string"
    default = "My beautiful yunohost umap"

    [install.language_code]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices.sq = "Albanian"
    choices.hy = "Armenian"
    choices.az = "Azerbaijani"
    choices.id = "Bahasa Indonesia"
    choices.bs = "Bosnian"
    choices.ca = "Català"
    choices.zh_Hans = "Chinese"
    choices.zh_Hant = "Chinese"
    choices.da = "Dansk"
    choices.de = "Deutsch"
    choices.en = "English"
    choices.es = "Español"
    choices.es_MX = "Español (México)"
    choices.eo = "Esperanto"
    choices.eu = "Euskara"
    choices.fr_CA = "Français (Canada)"
    choices.fr = "Français (France)"
    choices.gl = "Galego"
    choices.ka = "Georgian"
    choices.hr = "Hrvatski"
    choices.it = "Italiano"
    choices.kk = "Kazakh"
    choices.ky = "Kirghiz"
    choices.lv = "Latviešu"
    choices.lt = "Lietuvių"
    choices.hu = "Magyar"
    choices.ms = "Malay"
    choices.el = "Modern Greek"
    choices.nl = "Nederlands"
    choices.se = "Northern Sami"
    choices.nb = "Norwegian Bokmål"
    choices.pl = "Polski"
    choices.pt_BR = "Português (Brasil)"
    choices.pt_PT = "Português (Portugal)"
    choices.ro = "Română"
    choices.gd = "Scottish Gaelic"
    choices.si = "Sinhala"
    choices.sk = "Slovenský"
    choices.sl = "Slovenščina"
    choices.fi = "Suomi"
    choices.sv = "Svenska"
    choices.sw = "Swahili"
    choices.tl = "Tagalog"
    choices.vi = "Tiếng Việt"
    choices.tr = "Türkçe"
    choices.ur = "Urdu"
    choices.uz = "Uzbek"
    choices.is = "Íslenska"
    choices.cs = "Čeština"
    choices.bg = "Български"
    choices.mk = "Македонски"
    choices.mn = "Монгол"
    choices.ru = "Русский"
    choices.sr = "Српски"
    choices.uk = "Українська"
    choices.he = "עברית"
    choices.ar = "العربية"
    choices.fa = "فارسی"
    choices.mr = "मराठी"
    choices.hi = "हिंदी"
    choices.th = "ไทย"
    choices.zh_CN = "中文 (中国)"
    choices.ja = "日本語"
    choices.ja_JP = "日本語 (日本)"
    choices.ko = "한국어"
    default = "en"

[resources]

    [resources.sources.main]
    url = "https://github.com/umap-project/umap/archive/refs/tags/3.5.0.tar.gz"
    sha256 = "26183d0f35ae2fafaaac35e9b52010554bf5516ea98bd4c0dd0c4fe77fc53c02"
    autoupdate.strategy = "latest_github_tag"
    
    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    admin.url = "/admin"
    admin.allowed = "admins"
    admin.show_tile = true 

    [resources.ports]

    [resources.apt]
    packages = "postgresql, postgresql-contrib, postgresql-postgis, python3, python3-venv, redis-server"

    [resources.database]
    type = "postgresql"
