# https://yunohost.org/en/packaging_manifest
packaging_format = 2

id = "umap"
name = "uMap"
description.en = "Create maps with OpenStreetMap layers in a minute and embed them in your site"
description.fr = "Créer des cartes personnalisées sur des fonds OpenStreetMap en un instant et les afficher dans votre site"

version = "3.4.2~ynh0"

maintainers = ["Yohan Boniface", "David Larlet"]


[upstream]
# https://yunohost.org/en/packaging_manifest#upstream-section
license = "AGPL-3.0-only"
code = "https://github.com/umap-project/umap"


[integration]
# https://yunohost.org/en/packaging_manifest#integration-section
yunohost = ">=12.1.17"
helpers_version = "2.1" # https://yunohost.org/en/packaging_apps_helpers_v2.1
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "1G" # **estimate** minimum disk requirement. e.g. 20M, 400M, 1G, ...
ram.build = "1G" # **estimate** minimum ram requirement. e.g. 50M, 400M, 1G, ...
ram.runtime = "1G" # **estimate** minimum ram requirement. e.g. 50M, 400M, 1G, ...



[install]
# https://yunohost.org/en/packaging_manifest#install-questions

    [install.domain]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    # setting $path and template variable __PATH__
    type = "path"
    default = "/umap"

    [install.admin]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "user"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.realtime]
    ask.en = "Enable realtime collaboration?"
    type = "boolean"
    default = 1

    [install.allow_anonymous]
    ask.en = "Allow non logged in users to create maps?"
    type = "boolean"
    default = 0


[resources]
    [resources.system_user]
    # This will provision/deprovision a unix system user

    [resources.install_dir]
    # https://yunohost.org/en/packaging_apps_resources#install-dir
    # This will create/remove the install dir as /var/www/$app/
    # and store the corresponding setting $install_dir and template variable __INSTALL_DIR__
    group = "www-data:r-x" # static files served by nginx

    [resources.data_dir]
    # https://yunohost.org/en/packaging_apps_resources#data-dir
    # This will create/remove the data dir as /home/yunohost.app/$app/
    # and store the corresponding setting $data_dir and template variable __DATA_DIR__

    [resources.permissions]
    # https://yunohost.org/en/packaging_apps_resources#permissions
    # This will configure SSOwat permission for $domain/$path/
    # The initial allowed group of user is configured via the init_main_permission question (public=visitors, private=all_users)
    main.url = "/"

    [resources.ports]
    # https://yunohost.org/en/packaging_apps_resources#ports
    # This will pick a random port for reverse-proxying and store it as the $port setting
    main.default = 8000

    [resources.apt]
    # https://yunohost.org/en/packaging_apps_resources#apt
    # This will automatically install/uninstall the following apt packages
    packages = "python3, python3-pip, python3-venv, libpq-dev, postgresql, postgresql-contrib, redis-server, postgis"

    [resources.database]
    # https://yunohost.org/en/packaging_apps_resources#database
    # This will automatically provision/deprovison a Postgres DB
    # and store the corresponding credentials in settings $db_user, $db_name, $db_pwd
    type = "postgresql"
