#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]
    args.default_from_email = "test@example.com"
    args.admin_email = "test@example.com"
