#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    args.default_from_email = "default_from_email@example.tld"
    args.admin_email = "admin_email@example.tld"

    # -------------------------------
    # Curl tests to validate that the app works
    # -------------------------------
    [default.curl_tests]

    # The root page is accessible by anonymous user:
    root_page1.path = "/"
    root_page1.logged_on_sso = false
    root_page1.expect_title  = "Example Project / Debug View"
    root_page1.expect_content = "Log in to see more information" # <<< only visible when not logged in
    root_page1.auto_test_assets = true

    # Same info page accessed by logged in user:
    root_page2.path = "/"
    root_page2.logged_on_sso = true
    root_page2.expect_title  = "Example Project / Debug View"
    root_page2.expect_content = "OS Environment" # <<< only visible when logged in
    root_page2.auto_test_assets = true

    # There is a special view that requires login:
    login_required3.path = "/login-required/"
    login_required3.logged_on_sso = true
    login_required3.expect_title  = "Site administration | Django site admin"
    login_required3.expect_content  = 'You pass the "LoginRequired" check, ok.'
    login_required3.auto_test_assets = true
