[Unit]
Description=__APP__ server
After=redis.service postgresql.service

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__DATA_DIR__/

ExecStart=__DATA_DIR__/venv/bin/gunicorn --config __DATA_DIR__/gunicorn.conf.py wsgi

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__-server

[Install]
WantedBy=multi-user.target
